<div class="panel panel-primary">
    <div ng-show="!show.Details" class="panel-heading"><div ><h4 > Projects</h4></div></div>
    <div ng-show="show.Details" class="panel-heading"><h4 ng-click="toggleDetails()"> Projects<span class="pull-left glyphicon glyphicon-menu-left"></span></h4></div>
    <div href class="list-group default" ng-repeat="project in projects" ng-if="project.Name" ng-show="!show.Details">
        <a class="list-group-item" ng-click="toggleDetails();clickList(project.$id);" >
            <h4 class="list-group-item-heading">{{project.Name}}<span class="label label-default label-pill pull-right">{{getProjectTotalPaid(project.$id)|currency:"&#8377;"}}/{{getProjectTotalPromised(project.$id)|currency:"&#8377;"}}</span></h4>
            <p class="list-group-item-text">{{project.Details}}</p>            
        </a>
        
    </div>
    
    
    
    <div ng-show="show.Details">
    
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Promised</th>
                <th>Paid</th>
                <th ng-show="user.authenticated">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat ="account in accounts" ng-if = "account.Project===show.selectedProject">
                <td>{{account.Name}}</td>
                <td>{{account.AmountPromised|currency:"&#8377;"}}</td>
                <td>{{account.AmountPaid|currency:"&#8377;"}}</td>
                <td ng-show="user.authenticated"><a href="#"><span class="glyphicon glyphicon-edit"></span></a></td>
            </tr>
        </tbody>
    
    </table>
    
</div>
    <!--<button ng-click="tab=5">Hello</button>-->
</div>


    

